body {
  font-family: 'Sackers Gothic Std';
  font-size: 15px;
}

/*- per importare il font -*/
@font-face {
    font-family: 'Sackers Gothic Std';
    src:url('./font/SackersGothicStd-Medium.woff2') format('woff2'),
        url('./font/SackersGothicStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: darkgrey;
}

.navbar {
  justify-content: space-between;
  max-width: 100%;
  margin-top: 2%;
  text-align: center;
}

.barnav {
  display: inline-block;
  font-size: 2em;
}

.barnav a {
  padding-left: 25px;
  padding-right: 25px;
}

.social {
  display: flex;
  width: 100%;
  text-align: center;
  margin-top: 5%;
}

.socialimg {
  width: 20%;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 0.9em;
  margin-top: 3%;
}

.singleitem {
  margin-top: 20px;
}

figcaption {
  margin-top: 5%;
  font-weight: bold;
  text-align: center;
}

figcaption:hover {
  background-color: black;
  color: white;
}

.albumcover {
  max-width: 330px;
  max-height: 330px;
}
